# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

skills-lock.json
.trae
.agents
.claude
content

gen-cover/node_modules
gen-cover/test_classic.png
gen-cover/test_cyberpunk.png
gen-cover/test_sphere.png
qiniu-kodo/config/qiniu-config.json
qiniu-kodo/node_modules